@charset "UTF-8";


@media screen and (min-width: 992px) {

    body {
        background-color: rgb(0, 0, 0);
    }

    article {
        width: 700px;
        margin: auto;
        color: #1b1a1a;
        background-color: white;
    }

}